$white : hsl(0, 0%, 100%);
$yellow : hsl(51, 100%, 49%);
$grey : hsl(210, 4%, 67%);
$green : hsl(167, 40%, 24%);
$blue : hsl(198, 62%, 26%);
$red : hsl(7, 99%, 70%);
$footer : hsl(168, 48%, 60%);;
$arrow_height : 114px;
$arrow_width : 36px;



